extends common/layout

block layout-content
  .main-content
    .about-container
      .about-header
        h1 About Us
      .about-content
        p Welcome to GameShop , your ultimate destination for the latest and greatest in video gaming. At GameVault, we believe that gaming is more than just a pastime—it's a passion that brings people together, fosters creativity, and offers endless hours of entertainment.
        p Our mission is to provide gamers with a comprehensive selection of high-quality video games across all genres and platforms. We are committed to delivering an exceptional shopping experience, from the moment you visit our site to the time your game arrives at your door.
      .contact-section
        h2 Contact Us
        p You Can Contact Us theough
        ul
          li Email: info@gameshop.com
          li Phone: +123 456 7890
          li Address: 24, Steeles AV, RockPort